<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    </head>
    <body onload="drawPotato()">
        <div class="topnav">
          <a class="active" href="#home">Home</a>
          <a href="#about">About</a>
        </div>
        <h1>I'm proud of what we've created together!</h1>
        
        
        10 Things you can create with <i>potato</i>:
        <ol>
            <li>Hash Browns<br><img src={{ url_for('static', filename='hashbrowns.jpg') }} ></li>
            <li>Tater Tots<br><img src={{ url_for('static', filename='tater.jpg') }} ></li>
            <li>French Fries<br><img src={{ url_for('static', filename='fries.jpg') }} ></li>
            <li>Waffle fries<br><img src={{ url_for('static', filename='waffle.jpg') }} ></li>
            <li>Baked Potato<br><img src={{ url_for('static', filename='baked.jpg') }} ></li>
            <li>Potato Soup<br><img src={{ url_for('static', filename='soup.jpg') }} ></li>
            <li>Scalloped Potatoes<br><img src={{ url_for('static', filename='scallop.jpg') }} ></li>
            <li>Potato Chips<br><img src={{ url_for('static', filename='chips.jpg') }} ></li>
            <li>Potato Pierogi<br><img src={{ url_for('static', filename='pierogi.jpg') }} ></li>
            <li>Mashed Potatoes<br><img src={{ url_for('static', filename='mashed.jpg') }} ></li>
        </ol>
        <div id='potatoContainer'>
            {% for i in range(numPotatoes) %}
                <img src={{ url_for('static', filename='potato.png') }} 
                width={{ potatoes[i].size }} height={{ potatoes[i].size }}
                style="
                    opacity: {{ potatoes[i].opacity }}; 
                    top: {{ potatoes[i].position.y }}; 
                    left: {{ potatoes[i].position.x }};
                    transform: rotate({{ potatoes[i].rotation}});
                "
                class='potatoImage' />
            {% endfor %}
        </div>
    </body>
</html>
